<div class="row">
    <div class="offset-2 col-3">
        <input class="btn btn-success form-control" value="Create" type="submit" />
    </div>
    <div class="col-3">
        <a asp-action="Index" class="btn btn-secondary form-control">Back</a>
    </div>
</div>