@model Shop.Models.ViewModels.IndexViewModel
@using Shop.Utility

<br />
<div class="border rounded">
    <div class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000">
                <h2 class="offset-5 font-weight-bold">Best Teas</h2>
            </div>
            <div class="carousel-item" data-interval="7500">
                <h2 class="offset-5 font-weight-bold">Yerba Mate</h2>
            </div>
            <div class="carousel-item">
                <h2 class="offset-5 font-weight-bold">best Coffee</h2>
            </div>
        </div>

    </div>

    <div class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000">
                <img src="~/images/Tea.jpg" height="350" width="350" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-interval="7500">
                <img src="~/images/YErba.jpg" height="350" width="350" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/images/Coffee.jpg" height="350" width="350" class="d-block w-100" alt="...">
            </div>
        </div>

    </div>
</div>

<br />

<div class="offset-lg-3">
    <ul id="filter" class="text-center list-inline">

        <li class="active btn btn-secondary btn1  ml-1 mr-1  col-sm-2 float-left" data-filter=".product-shop" style="background:#00FF7F">Newest</li>

        @foreach (var ITEM in Model.Category)
        {
            <li class="ml-1 mr-1 list-inline float-left col-sm-2 btn1 " style="background:#00FF7F" data-filter=".@ITEM.Name.Replace(" ", string.Empty)"> @ITEM.Name </li>
        }
    </ul>
</div>

<br /><br />
<br />
<div hidden id="thumbail" class="container">

        @foreach (var item in Model.Category)
        {
            <div class="row px-md-4 p-4  " id="Product">
                <partial name="_ThumbnailAreaPartial"  model="Model.Product.Where(x => x.Category.Name.Equals(item.Name))"/>
            </div>
        }

    </div>

<div id="newest" class="container">
    @foreach (var item in Model.Category)
    {
        <div class="row box-shadow  px-md-4 p-4 " id="Product">
            <partial name="_NewestPartial" model="Model.Product.Where(x=>x.Category.Name.Equals(item.Name))" />
        </div>
        <br />
        <br />
    }
</div>
@section Scripts{
    <script src="http://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script>

        function myMoveFunction(i) {
            var count = i;
            var b = document.getElementById(count);
            var p = document.getElementById(count);
            b.style.backgroundColor = '#00FF7F';
            p.style.opacity= 0.5;

        }
        function myMoveFunction1(i) {
            var count = i;
            var b = document.getElementById(count);
            var p = document.getElementById(count);
            b.style.backgroundColor = "white";
            p.style.opacity = 1;

        }
        function myMoveFunctionnewset(i) {
            var count = i;
            var b = document.getElementById(count);
            var p = document.getElementById(count);
            var x = document.getElementsByClassName(count)[0];
            x.hidden = false;
            b.style.backgroundColor = 'white';
            p.style.opacity = 0.75;

        }
        function myMoveFunction1newest(i) {
            var count = i;
            var b = document.getElementById(count);
            var p = document.getElementById(count);
            var x = document.getElementsByClassName(count)[0];
            x.hidden = true;
            b.style.backgroundColor = "white";
            p.style.opacity = 1;

        }
    </script>
    <script>
        var posts = $('.post');
        (function ($) {
            $("#filter li").click(function () {
                $("#filter li").removeClass('active btn btn-secondary');
                $(this).addClass('active btn btn-secondary');

                var selected = $(this).data("filter");
                $(".product-shop").fadeOut();
                document.getElementById("newest").hidden = true;
                document.getElementById("thumbail").hidden = false;
                if (selected == ".product-shop") {
                    document.getElementById("newest").hidden = false;
                    document.getElementById("thumbail").hidden = true;
                }

                setTimeout(function () {
                    $(selected).slideDown();
                }, 250)
            });
        })(jQuery);
    </script>
}

